body {
	background: #f4efe6;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.app {
	max-width: 600px;
	margin: 0 auto;
}
.post-box textarea {
	width: 100%;
	box-sizing: border-box;
}
.post-filter .group {
	margin-right: 1em;
}
.post-filter a:not(.active) {
	text-decoration: underline;
	cursor: pointer;
}
.post {
	background: #fff;
	padding: 1em;
	margin-bottom: 1em;
}
.post.draft {
	background: rgba(255, 255, 255, 0.5);
	border-left: 0.2em solid #7DC9DA;
	padding-left: 0.8em;
}
.post > header {
	padding-left: 60px;
}
.post > header .avatar {
	float: left;
	margin-left: -60px;
	width: 48px;
	height: 48px;
	border-radius: 24px;
}
.post > header p {
	margin-top: 0;
	margin-bottom: 0.5em;
}
.actions {
	text-align: right;
}
.actions > * {
	margin-left: 0.5em;
}
.action-like {
	font-size: 2em;
	border: 0;
	background: transparent;
	color: #d94e3a;
	cursor: pointer;
}
button.primary, button.secondary {
	font-size: inherit;
	line-height: 2em;
	border: 1px solid #d94e3a;
	border-radius: 4px;
	cursor: pointer;
}
button.primary {
	background: #d94e3a;
	color: #fff;
}
button.secondary {
	background: transparent;
	color: #d94e3a;
}
